ol {
  list-style: none !important;
}

.breadcrumb {
  position: absolute;
  bottom: 40%;
  width: 88%;
  color: #fff;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.breadcrumb_item {
  margin-right: -8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.breadcrumb_item a {
  text-decoration: none;
  color: #fff;
}



.breadcrumb_item::after {
  content: '/';
  margin-left: 8px;
}

.breadcrumb_item:last-child::after {
  content: '';
  margin: 0;
}

.breadcrumb_item.active {
  color: #fab000;
  pointer-events: none;
  text-decoration: none;
}




.contact_section_row {
  display: flex;
  flex-wrap: wrap;
}

.contact_section_column,
.contact_section_column-right {
  flex: 1;
}

.contact_section_map iframe {
  width: 100%;
  height: 630px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.contact_section_heading-inner {
  margin-bottom: 20px;
}

.contact_section_heading-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 10px;
}

.contact_section_wrap p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 23px 0;
  font-weight: 400;
}

.contact_section_layout {
  width: 100%;
  margin: 0px 0px 25px 0px;
}

.contact_section_content-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact_section_icon {
  font-size: 33px;
  color: #000;
  margin-right: 15px;
}

.contact_section_wrap {
  margin: 0px 30px 0px 65px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.contact_section_content {
  flex: 1;
}

.contact_section_heading {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 7px 0;
}

.contact_section_titel {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}


.contact_section_social {
  margin-top: 10px;
  display: flex;
}

.contact_section_social a {
  width: 45px;
  height: 45px;
  font-size: 19px;
  box-shadow: 0 0 0 1px #dedede;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}

.contact_section_social a:hover {
  background: #fab000;
  color: #fff;
}

.social-item {
  font-size: 20px;
  color: #555;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-item:hover {
  color: #4CAF50;
}

@media (max-width: 768px) {
  .contact_section_row {
      flex-direction: column;
  }

  .contact_section_map iframe {
      height: 300px;
  }
}








section.contactform_section {
  background-color: #EEEBE8;
  padding: 95px 0;
}


.contactform_row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.contactform_liftcol,
.contactform_rightcol {
  flex: 1 1 100%;
}

.contactform_headingtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
}

.contactform_headingtitle h2 {
  font-size: 56px;
  font-weight: 500;
  line-height: 62px;
}

.contactform_main {
  display: flex;
  flex-wrap: wrap;
}

.contactform_main-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contactform_main_col-lg {
  flex: 1;
  padding: 10px;
}

.control_item {

  margin-top: 23px;
}

.control_item label {
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.contactform_main_control-wrap input,
.contactform_main_control-wrap textarea {
  background-color: #fff;
  border: 1px solid #dedede;
  color: #111111;
  padding: 0 16px;
  line-height: 45px;
  height: 45px;
  font-size: 16px;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  text-align: start;
  width: 100%;
}

.contactform_main_control-wrap input:hover,
.contactform_main_control-wrap textarea:hover {
  background-color: #fff;
  border-color: #000;
}

.contactform_main_control-wrap textarea {
  height: 248px;
}


.contactform_check p {
  display: flex;
  align-items: center;

}


input.error,
textarea.error {
  border: 1px solid #fab000;
}

label.error {
  color: red;
  font-size: 12px;
  margin-top: 8px;
  display: block;
  text-transform: capitalize;
  margin-bottom: 0 !important;
}

.success-message {
  color: #fab000;
  font-size: 1em;
  margin-top: 10px;
}


.contactform_checklabel {
  font-weight: 400;
  line-height: 18px;
  margin: 0 !important;
  text-transform: inherit !important;
  cursor: pointer;
}

.form-check-input {
  margin-right: 10px;
}

.form-check-label {
  display: inline;
}

.controlitem_btnform button {
  min-width: 193px !important;
  cursor: pointer;
  margin-top: 10px;
  padding: 13px;
  border-radius: 0;
}

@media (max-width: 768px) {
  .contactform_main_col-lg {
      flex: 1 1 100%;
  }
}