.gallery_section{
  padding: 30px 0;
}
.scrolled{
  position: fixed;
  background: #0d1e33;
  width: 100%;
  top: 0;
  right: 0;
  /* box-shadow: 0px 1px 2px #cecece; */
  z-index: 50;
  transition: .5s;
}
.scrolled.sticky-up {
  top: 50px;
  transition: .5s;
}
.segment{
  min-height: 280px;
}
.activeScroll{
  background-color: var(--white);
}
.activeScroll a{
  color: #0d1e33;
}
.review_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review_box {
  width: 75%;
  padding: 3%;
  line-height: 180%;
}

.review_rating {
  width: 25%;
  background: grey;
  padding: 5%;
  text-align: center;
}

div#averageRating {
  font-size: 300%;
}

.review_control {
  width: 50%;
  margin: 0 40px;
}


/* *image grid */

.image-grid {
  display: grid;
  grid-template-areas:
    "img1 img2 img3 "
    "img4 img4 img5"
    "img4 img4 img6";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  /* padding: 10px; */
  position: relative;
  overflow: hidden;
}

.image-grid img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: .5s;
  transform: scale(1);
}

.img_grid_wrap:hover img{
  transition: .5s;
  transform: scale(1.2);
}

.img_grid_wrap span{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000ad;
  color: var(--white);
}


.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1202;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  color: var(--white);
  cursor: pointer;

}
.img_grid_wrap {
  position: relative;
  overflow: hidden;
}
.img_grid_wrap:nth-child(1){
  grid-area: img1;
}
.img_grid_wrap:nth-child(2){
  grid-area: img2;
}
.img_grid_wrap:nth-child(3){
  grid-area: img3;
}
.img_grid_wrap:nth-child(4){
  grid-area: img4;
}
.img_grid_wrap:nth-child(5){
  grid-area: img5;
}
.img_grid_wrap:nth-child(6){
  grid-area: img6;
}
.gallery-swiper-container {
  width: 80%;
  height: 90%;
}
.gallery-swiper-container .swiper-slide-active{
width:80%;
}
.gallery-swiper-container .swiper-slide img {
  width: 100%;
  height: 90%;
}
.img_grid_ico {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000006e;
  transition: .5s;
  opacity: 0;
  cursor: pointer;
}

.img_grid_ico i {
  padding: 10px;
  color: #fff;
  background: var(--second_color);
  border-radius: 50%;
  box-shadow: 0 0 2px 10px #ffffffe0;
  margin-top: -20px;
  transition: .5s;
}

.img_grid_wrap:hover .img_grid_ico {
  opacity: 1;
  transition: .5s;
}

.img_grid_wrap:hover .img_grid_ico i {
  margin-top: 0;
  transition: .5s;
}
/* *****image grid end */
/* overview csss */
.overview_title {
  font-size: 225%;
  padding-bottom: 25px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 25px;
  font-family: 'Cormorant Garamond';
  font-weight: 700;
  color: var(--second_color);
}

.overview_wrapper p {
  font-size: 93%;
  font-weight: 400;
  line-height: 150%;
  opacity: .6;
}


/* review css */
.review_form_control input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--second_color);
}
.review_form_control input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.review_form_control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: var(--white);
  border-radius: 50%;
  border: 2px solid var(--second_color);
  box-shadow: -407px 0 0 400px var(--second_color);
}


.amenties_listing li span svg {
  width: 30px;
  height: 30px;
}

.amenties_listing li {
  display: flex;
  align-items: center;
}

.amenties_listing li span {
  font-size: 230%;
}

/* right side css */
.hotel_detail_right{
  margin: 30px 0;
}


.nearby_row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.nearby_left {
  width: 35%;
}
.nearby_right {
  width: 65%;
}

.nearby_image img {width: 100%;object-fit: cover;}

.nearby_headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}

.nearby_heading {
  font-size: 120%;
  font-family: 'Cormorant Garamond';
  font-weight: 700;
}

.nearby_right p {
  font-size: 85%;
  color: #858585;
  line-height: 150%;
}
.nearby_left .nearby_btn{
  display: block;
  width: 100%;
  padding: 10px 22px;
  height: auto;
  line-height: 100%;
  text-align: center;
  margin-top: 6px;
}

.nearby_distance {
    color: #0d1e33;
}
.nearby_col {
    padding-bottom: 25px;
}
.hotel_detail.scroll_nav_wrapper {
  background: #0d1e33;
}

.room_listing_btn i {
  font-weight: 900;
  font-size: 120%;
  padding-left: 10px;
}

.room_listing_btn {
  text-align: center;
  padding-bottom: 8px;
  border-radius: 4px;
  text-transform: none;
}

.nearby_left .button--aylen {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 6px;
  text-transform: none;
}


/* dining css */

.dining_section {
  padding: 50px 0;
}


.dining_wrapper {
  max-height: 600px;
  display: flex;
  background: #0d1e33;
}

.dining_img_part img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}
.dining_img_part {
  width: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 600px;
}

.dining_content_part {
  width: 50%;
  display: flex;
  padding: 10% 0;
}
.dining_content_part .swiper-slide{
  padding: 0 50px;
}
.dining_content_part p {
  color: #fff;
  font-weight: 300;
  line-height: 140%;
  padding: 0 0 20px;
}
.dinig_titel {
  text-align: left;
  color: #fff;
}
.dinig_titel .subtitle-text{
  padding: 0;
}
.subtitle-text::after, .subtitle-text::before {
  display: none;
}
